@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tile-size: 11vh;
  --light-tile: #a79e99;
  --dark-tile: #4d0705;
  --bg-color: #202020;
  --highlight: rgba(0, 0, 0, 0.1);
  --check: #feec48;
  --kimono-200: #a04741;
  --kimono-700: #914b43;
  --kimono-900: #873d3a;
  --kimono-950: #612f32;
  --red-main: #a77e7e;
  --bone-500: #988d87;
  --bone-400: #a79e99;
}

@media all and (max-width: 450px) {
  :root {
    --tile-size: 50px;
  }
}
