.pieces {
  position: absolute;
  left: calc(0.25 * var(--tile-size) + 5px);
  top: 0;
  width: calc(8 * var(--tile-size));
  height: calc(8 * var(--tile-size));
}

.piece {
  width: var(--tile-size);
  height: var(--tile-size);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.piece.bk {
  background-image: url('../../assets/bk.png');
}
.piece.bq {
  background-image: url('../../assets/bq.png');
}
.piece.br {
  background-image: url('../../assets/br.png');
}
.piece.bb {
  background-image: url('../../assets/bb.png');
}
.piece.bn {
  background-image: url('../../assets/bn.png');
}
.piece.bp {
  background-image: url('../../assets/bp.png');
}
.piece.wk {
  background-image: url('../../assets/wk.png');
}
.piece.wq {
  background-image: url('../../assets/wq.png');
}
.piece.wr {
  background-image: url('../../assets/wr.png');
}
.piece.wb {
  background-image: url('../../assets/wb.png');
}
.piece.wn {
  background-image: url('../../assets/wn.png');
}
.piece.wp {
  background-image: url('../../assets/wp.png');
}

.piece.p-07 {
  transform: translate(0, 0);
}
.piece.p-17 {
  transform: translate(var(--tile-size), 0);
}
.piece.p-27 {
  transform: translate(calc(2 * var(--tile-size)), 0);
}
.piece.p-37 {
  transform: translate(calc(3 * var(--tile-size)), 0);
}
.piece.p-47 {
  transform: translate(calc(4 * var(--tile-size)), 0);
}
.piece.p-57 {
  transform: translate(calc(5 * var(--tile-size)), 0);
}
.piece.p-67 {
  transform: translate(calc(6 * var(--tile-size)), 0);
}
.piece.p-77 {
  transform: translate(calc(7 * var(--tile-size)), 0);
}

.piece.p-06 {
  transform: translate(0, var(--tile-size));
}
.piece.p-16 {
  transform: translate(var(--tile-size), var(--tile-size));
}
.piece.p-26 {
  transform: translate(calc(2 * var(--tile-size)), var(--tile-size));
}
.piece.p-36 {
  transform: translate(calc(3 * var(--tile-size)), var(--tile-size));
}
.piece.p-46 {
  transform: translate(calc(4 * var(--tile-size)), var(--tile-size));
}
.piece.p-56 {
  transform: translate(calc(5 * var(--tile-size)), var(--tile-size));
}
.piece.p-66 {
  transform: translate(calc(6 * var(--tile-size)), var(--tile-size));
}
.piece.p-76 {
  transform: translate(calc(7 * var(--tile-size)), var(--tile-size));
}

.piece.p-05 {
  transform: translate(0, calc(2 * var(--tile-size)));
}
.piece.p-15 {
  transform: translate(var(--tile-size), calc(2 * var(--tile-size)));
}
.piece.p-25 {
  transform: translate(calc(2 * var(--tile-size)), calc(2 * var(--tile-size)));
}
.piece.p-35 {
  transform: translate(calc(3 * var(--tile-size)), calc(2 * var(--tile-size)));
}
.piece.p-45 {
  transform: translate(calc(4 * var(--tile-size)), calc(2 * var(--tile-size)));
}
.piece.p-55 {
  transform: translate(calc(5 * var(--tile-size)), calc(2 * var(--tile-size)));
}
.piece.p-65 {
  transform: translate(calc(6 * var(--tile-size)), calc(2 * var(--tile-size)));
}
.piece.p-75 {
  transform: translate(calc(7 * var(--tile-size)), calc(2 * var(--tile-size)));
}

.piece.p-04 {
  transform: translate(0, calc(3 * var(--tile-size)));
}
.piece.p-14 {
  transform: translate(var(--tile-size), calc(3 * var(--tile-size)));
}
.piece.p-24 {
  transform: translate(calc(2 * var(--tile-size)), calc(3 * var(--tile-size)));
}
.piece.p-34 {
  transform: translate(calc(3 * var(--tile-size)), calc(3 * var(--tile-size)));
}
.piece.p-44 {
  transform: translate(calc(4 * var(--tile-size)), calc(3 * var(--tile-size)));
}
.piece.p-54 {
  transform: translate(calc(5 * var(--tile-size)), calc(3 * var(--tile-size)));
}
.piece.p-64 {
  transform: translate(calc(6 * var(--tile-size)), calc(3 * var(--tile-size)));
}
.piece.p-74 {
  transform: translate(calc(7 * var(--tile-size)), calc(3 * var(--tile-size)));
}

.piece.p-03 {
  transform: translate(0, calc(4 * var(--tile-size)));
}
.piece.p-13 {
  transform: translate(var(--tile-size), calc(4 * var(--tile-size)));
}
.piece.p-23 {
  transform: translate(calc(2 * var(--tile-size)), calc(4 * var(--tile-size)));
}
.piece.p-33 {
  transform: translate(calc(3 * var(--tile-size)), calc(4 * var(--tile-size)));
}
.piece.p-43 {
  transform: translate(calc(4 * var(--tile-size)), calc(4 * var(--tile-size)));
}
.piece.p-53 {
  transform: translate(calc(5 * var(--tile-size)), calc(4 * var(--tile-size)));
}
.piece.p-63 {
  transform: translate(calc(6 * var(--tile-size)), calc(4 * var(--tile-size)));
}
.piece.p-73 {
  transform: translate(calc(7 * var(--tile-size)), calc(4 * var(--tile-size)));
}

.piece.p-02 {
  transform: translate(0, calc(5 * var(--tile-size)));
}
.piece.p-12 {
  transform: translate(var(--tile-size), calc(5 * var(--tile-size)));
}
.piece.p-22 {
  transform: translate(calc(2 * var(--tile-size)), calc(5 * var(--tile-size)));
}
.piece.p-32 {
  transform: translate(calc(3 * var(--tile-size)), calc(5 * var(--tile-size)));
}
.piece.p-42 {
  transform: translate(calc(4 * var(--tile-size)), calc(5 * var(--tile-size)));
}
.piece.p-52 {
  transform: translate(calc(5 * var(--tile-size)), calc(5 * var(--tile-size)));
}
.piece.p-62 {
  transform: translate(calc(6 * var(--tile-size)), calc(5 * var(--tile-size)));
}
.piece.p-72 {
  transform: translate(calc(7 * var(--tile-size)), calc(5 * var(--tile-size)));
}

.piece.p-01 {
  transform: translate(0, calc(6 * var(--tile-size)));
}
.piece.p-11 {
  transform: translate(var(--tile-size), calc(6 * var(--tile-size)));
}
.piece.p-21 {
  transform: translate(calc(2 * var(--tile-size)), calc(6 * var(--tile-size)));
}
.piece.p-31 {
  transform: translate(calc(3 * var(--tile-size)), calc(6 * var(--tile-size)));
}
.piece.p-41 {
  transform: translate(calc(4 * var(--tile-size)), calc(6 * var(--tile-size)));
}
.piece.p-51 {
  transform: translate(calc(5 * var(--tile-size)), calc(6 * var(--tile-size)));
}
.piece.p-61 {
  transform: translate(calc(6 * var(--tile-size)), calc(6 * var(--tile-size)));
}
.piece.p-71 {
  transform: translate(calc(7 * var(--tile-size)), calc(6 * var(--tile-size)));
}

.piece.p-00 {
  transform: translate(0, calc(7 * var(--tile-size)));
}
.piece.p-10 {
  transform: translate(var(--tile-size), calc(7 * var(--tile-size)));
}
.piece.p-20 {
  transform: translate(calc(2 * var(--tile-size)), calc(7 * var(--tile-size)));
}
.piece.p-30 {
  transform: translate(calc(3 * var(--tile-size)), calc(7 * var(--tile-size)));
}
.piece.p-40 {
  transform: translate(calc(4 * var(--tile-size)), calc(7 * var(--tile-size)));
}
.piece.p-50 {
  transform: translate(calc(5 * var(--tile-size)), calc(7 * var(--tile-size)));
}
.piece.p-60 {
  transform: translate(calc(6 * var(--tile-size)), calc(7 * var(--tile-size)));
}
.piece.p-70 {
  transform: translate(calc(7 * var(--tile-size)), calc(7 * var(--tile-size)));
}
